<div class="container">
    <div class="rowBox">
        <div class="col-sm-12">
            <h1>Recover account</h1>
                
        </div>
    </div>
    <br>
    <br>

    <div class="col-sm-12 construction">
        <div class="col-sm-12">
                <h4 class ="header ">The Local Spot</h4>
                                
        </div>
        <br>
        <div class="col-sm-12" style="text-align: center;">
                                  
            <p>Thank you for<strong> confirming your email </strong> with The Locals Spot!</p>
            <p>If you are already a Local, we'll be sending an email to you soon.</p>
        </div>
       
            <div class="rowBox"  style="justify-content: center;" >
                <div class="col-sm-06" style="text-align:center; padding-right:1rem;">
                            {{!-- <a href="/about" class="button" style="width:20px; color:#99b1e8 ; padding: .5rem 1rem; text-decoration: none;">
                            Sign up</a> --}}
                            <a href="/signin" class="btn btn-secondary btn-lg border border-light hvr-bounce-to-right" role="button" aria-disabled="true">Sign in</a>
                </div>  
                <div class="col-sm-06" style="text-align:center;">
                {{!-- <a href="/about" class="button" style="color:#0a2f66 ; padding: .5rem 1rem; text-decoration: none;">
                Let's get started!</a> --}}
                    <a href="/register" class=" btn btn-secondary btn-lg border border-light hvr-bounce-to-right" role="button" aria-pressed="true"> Register now!</a>

                </div> 
            </div>
            
       
    </div> 
    
</div>