<div class="container">
     <div class="rowBox"></div>
        
        <div class="col-sm-12">
            <!-- Masthead Heading-->
            <h1 class="formHeading" >Recover account </h1>
            <p>Hi Local, fill in info so we can help you!</p>
        </div> 
        
        {{!-- <div class="row"></div>  EXTRA SPACE--}}
        
         <div class="col-sm-12">
            {{!-- box  --}}
            <div class="container outter shadow1 rounded-lg pt-4 mt-5 overflow-auto">
                {{!-- <div class="header p-4" style="font-size: 1.1rem; font-weight:bold">
                    <p>Choose also the frequency of newsletter.</p>
                </div> --}}

                <div class="containter-fluid body-form ">
                    <form class="form-horizontal" role = "form" 
                        action="/processResetPassword?form=resetPassword" method = "POST">
                        <input type = "hidden" name = "_csrf" value="{{csrf}}">
                                                
                        {{!-- entering EMAIL as input --}}
                        <div class="form-group">
                            <label for="fieldEmail" class="form-label" >
                                Email
                            </label>
                            <div class="col">
                                <input type="email" class="form-control" placeholder="name@example.com" required
                                    id="fieldEmail" name="email"
                                >
                            </div>
                        </div>
                                                

                        {{!-- Submitting info --}}
                        <div class="form-group">
                            <div class="col-sm-offset-2">
                            <button type="submit" class="btn btn-secondary border border-light hvr-bounce-to-right ">
                                Submit
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{!-- END OF BOX --}}
        </div>
    </div>
 </div>